@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 10px 0;
  background: #23252C;
  color: var(--secondary-color);
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-color: #1A1B21;
  --secondary-color: white;
}
 /* .dark-theme {
  --primary-color: #1A1B21;
  --secondary-color: white;
}  */

/* .white-theme {
  --primary-color: white;
  --secondary-color: #1A1B21;
}  */



div#container {
  height: 90vh;
 
}
div.dark-theme
{
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  background:var(--primary-color);
  color:var(--secondary-color);
}
div.white-theme
{
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  background:var(--secondary-color);
  color:var(--primary-color);
}
/* section {
  width: 30vw;
  margin-right: auto;
  margin-left: auto;
  background:#1A1B21;
} */

section.info {
  height: 52vh;

}

section.about {
  height: 17vh;

}

section.about p,
section.interest p {

  margin-top: 10px;
  font-size: 0.8rem;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;

}

section.interest {
  height: 17vh;
  /* color:var(--secondary-color) */
}

section.footer {
  background: #161619;
  height: 10vh;
}

img.photo {
  height: 150px;
  width: 200px;
}

div.social {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.7rem;
  right: 530px;
  height: 31px;
  border-radius: 20px;
  margin-top: 10px;
}

a.email,
a.linkedin {
  text-decoration: none;
  margin-right: 18px;
  margin-bottom: 2px;
  margin-left: 2px;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
}

div.email,
div.linkedin {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 10px;
}

div.email {
  background: var(--secondary-color);
}

div.linkedin {
  background:var(--primary-color);
}

div.linkedin img {

  border-radius: 10px;
}

a.linkedin {
  color: var(--secondary-color);
}

div.title {
  font-family: 'Inter';
  font-weight: 700;
  /* color: var(--secondary-color) */
}

div.title p {
  font-size: 0.8rem;
  color: #F3BF99
}

div.title small {
  font-size: 0.6rem;
}

div.social-list {
  display: flex;
  justify-content: center;

}
div.social-item
{
  width: 50px;
  height: 50px;
}

img.icon {
  position: fixed;
  right: 460px;
  cursor: pointer;
}

